<form method="post" action="{{ path('app_panier_delete', {'idpa': panier.idpa}) }}" onsubmit="return confirm('Etes vous sur de vouloir supprimer ce produit du panier ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ panier.idpa) }}">
    <button class="btn">Supprimer</button>
</form>
