{% extends 'baseBack.html.twig' %}

{% block title %}New Dossiermedical{% endblock %}

{% block content %}
   

    {{ include('dossiermedical/_form.html.twig') }}

    <a href="{{ path('app_dossiermedical_index') }}">back to list</a>
{% endblock %}
