{% extends 'base.html.twig' %}

{% block title %}Joueur index{% endblock %}
{% block carousel %}
<div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Joueurs</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./base">Accueil</a></li>
                    <li class="breadcrumb-item active text-white">Activite</li>
                </ol>    
            </div>
        </div>
{% endblock %}

{% block content %}
    <h1>Joueur index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Joueur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for joueur in joueurs %}
            <tr>
                
                <td>{{ joueur.joueur }}</td>
                <td>
                    <a href="{{ path('app_joueur_show', {'idj': joueur.idj}) }}">show</a>
                    <a href="{{ path('app_joueur_edit', {'idj': joueur.idj}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_joueur_new') }}">Create new</a>
{% endblock %}
