<form method="post" action="{{ path('app_vente_delete', {'idv': vente.idv}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vente.idv) }}">
    <button class="btn">Delete</button>
</form>
