{% extends 'baseBack.html.twig' %}

{% block title %}Gesport - Vente{% endblock %}

{% block content %}

    <table class="table">
        <thead>
            <tr>
                <th>Produit</th>
                <th>Quantité</th>
                <th>Date de vente</th>
                <th>Montant</th>
            </tr>
        </thead>
        <tbody>
        {% for vente in ventes %}
            <tr>
                <td>{{ vente.idp.nomp }}</td>
                <td>{{ vente.quantitév }}</td>
                <td>{{ vente.datev ? vente.datev|date('Y-m-d') : '' }}</td>
                <td>{{ (vente.quantitév)*(vente.idp.prixp) }}</td>
                
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
