<form method="post" action="{{ path('app_activite_delete', {'ida': activite.ida}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activite.ida) }}">
    <button class="btn btn-danger btn-sm">Delete</button>
</form>
