<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible"content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BotMan</title>
</head>
<body>
    <h1>Welcome </h1>
    <p>This is our ChatBot.</p>

    <!-- Replace 'YOUR_CHATBOT_URL' with the URL of your chatbot -->
    <iframe height="430" width="350" allow="microphone" src="https://console.dialogflow.com/api-client/demo/embedded/35c81738-c028-4dc8-8ad3-57fb1874b4ab"></iframe>
</body>
</html>
