<form method="post" action="{{ path('app_equipe_delete', {'ide': equipe.ide}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ equipe.ide) }}">
    <button type="submit" class="btn btn-inverse-danger btn-xs" style="font-size: 13px;">Delete</button></form>
</form>
