{% extends 'base.html.twig' %}

{% block title %}Accès Bloqué{% endblock %}

{% block body %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Accès Bloqué</div>
                <div class="card-body">
                    <p>Votre accès à ce site a été bloqué par l'administrateur.</p>
                    <p>Veuillez contacter l'administrateur pour plus d'informations.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
