{% extends 'base.html.twig' %}

{% block content %}
<div id="main">
    <!-- Post -->
    <section class="post">
        <header class="major" style="color: #333;">
            <span class="date">April 25, 2017</span>
            <h1 style="color: #007bff; text-align:center";>Mot de passe oublié</h1>
        </header>
        <div class="section-content">
            <div class="col-md-12">
                <fieldset style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; background-color: #f9f9f9;">
                    {{ form_start(form) }}

{{ form_row(form.emailu, {'attr': {'class': 'form-control', 'style': 'color: blue;' }}) }}
</br>
{{ form_row(form.envoyer, {'attr': {'class': 'btn btn-primary', 'style': 'background-color: green;' }}) }}

{{ form_end(form) }}

                </fieldset>
            </div>
        </div>
    </section>
</div>
{% endblock %}
