{% extends 'base.html.twig' %}
{% block carousel %}
<div class="container-fluid bg-breadcrumb">
            <div class="container text-center py-5" style="max-width: 900px;">
                <h3 class="text-white display-3 mb-4">Nos Activités</h3>
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="./base">Accueil</a></li>
                    <li class="breadcrumb-item active text-white">Activite</li>
                </ol>    
            </div>
        </div>
{% endblock %}

{% block content %}
<div id="main">
    <!-- Post -->
    <section class="post">
        <header class="major" style="color: #333;">
            <span class="date">April 25, 2017</span>
            <h1 style="color: #007bff; text-align:center";>Mot de passe oublié</h1>
        </header>
        <div class="section-content">
            <div class="col-md-12">
                <fieldset style="border: 1px solid #ccc; padding: 20px; border-radius: 10px; background-color: #f9f9f9;">
                    {{ form_start(form) }}

{{ form_row(form.emailu, {'attr': {'class': 'form-control', 'style': 'color: blue;' }}) }}
</br>
{{ form_row(form.envoyer, {'attr': {'class': 'btn btn-primary', 'style': 'background-color: green;' }}) }}

{{ form_end(form) }}

                </fieldset>
            </div>
        </div>
    </section>
</div>
{% endblock %}
