<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
   
    <title>Register</title>
    <!-- Custom styles -->
    <style>
        .bg-image-vertical {
            position: relative;
            overflow: hidden;
            background-repeat: no-repeat;
            background-position: right center;
            background-size: auto 100%;
        }

        @media (min-width: 1025px) {
            .h-custom-2 {
                height: 100%;
            }
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-sm-6">
                <form method="post" novalidate id="registration">
                    {% include 'user/inscription.html.twig' %}
                    <div class="form-group">
                        <div class="g-recaptcha" data-sitekey=6Le52MMpAAAAADqeKWivBt7WBVNhdbxfuTacYRrH></div>
                    </div>
                   
                </form>
            </div>
            <div class="col-sm-6 px-0 d-none d-sm-block">
                <img src="https://img.freepik.com/premium-vector/national-sports-background-national-sports-day-celebration-dynamic-background-with-footballers_758894-1113.jpg?w=1480"
                    alt="Login image" class="w-100 h-auto" style="object-fit: cover; object-position: right; margin-top: 50px;">
            </div>
        </div>
    </div>

    <!-- Script JavaScript -->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('registration').addEventListener('submit', function(event) {
                var recaptchaResponse = grecaptcha.getResponse();
                if (recaptchaResponse.length === 0) {
                    event.preventDefault();
                    alert('Veuillez résoudre le reCAPTCHA.');
                }
            });
        });
    </script>
</body>

</html>