{# templates/verify_email.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Vérification de l'e-mail{% endblock %}

{% block body %}
    <h1>Vérification de l'e-mail</h1>

    {% if app.session.flashBag.has('error') %}
        <div class="alert alert-danger" role="alert">
            {{ app.session.flashBag.get('error') }}
        </div>
    {% endif %}

    <form method="post">
        <div class="form-group">
            <label for="verification_code">Code de vérification</label>
            <input type="text" id="verification_code" name="verification_code" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Valider</button>
    </form>
{% endblock %}
